*{
    margin: 0;
    padding: 0;
}
.container{
    width: 100%;
    height: 100%;
    font-family: sans-serif;
}
h1{
    color: red;
    text-align: center;
    margin: 100px auto 50px;
    font-family: sans-serif;
    font-size: 2em;
}
.row{
    width: 85%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.col{
    flex-basis: 30%;
    overflow: hidden;
}
.card{
    width: 200px;
    height: 200px;
    margin: auto;
    perspective: 1000px;
    cursor: pointer;
}
.inner-box{
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    border-radius: 10px;
    transition: transform 1s;
    transform-style: preserve-3d;
}
.card-front , .card-back{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
}
.card-front{
    
    background-position: center;
    background-size: cover;
}
.card-back{
    background: #1c4c54;
    transform: rotateX(180deg);

}
.one{
    display: inline-block;
    color: rgb(255, 255, 255);
    margin-top: 20px;
}
.card:hover .inner-box{
    transform: rotateX(-180deg);
}
.two{
    display: inline-block;
    color: #fff;
    padding-bottom: 10px;
    border-bottom: 1px solid #fff;
    margin-top: 70px;
}
.social-media img{
    width: 30px;
    margin: 10px 5px;
}